:root{
  --body-color:#1F1D36;
  --movie-color:#3F3351;
   --hover-color:#864879;
}

body{
  font-family: "Gill Sans", sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.Navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 85%;
  height: 100px;
  background-color: var(--body-color);
  padding-right: 100px;
}

.Navbar a{
  cursor: pointer;
  margin: 0px 30px;
  color: #fff;
}

.Navbar a:hover{
  color: var(--hover-color);
}

.App {
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://wallpaperbat.com/img/51001-movie-poster-wallpaper-top-free-movie-poster-background.jpg");
  background-size: contain;
  position: relative;
}

.App::after{
  position: absolute;
  top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  content: "";
  background-color: var(--body-color);
  opacity: 0.8;
}
.App > * {
    z-index: 10;
}


.form {
  background-color: var(--movie-color);
  width: 40%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 8px #000;
  overflow: hidden;
  border-radius: 8px;
}

form{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

label,input{
  align-self: flex-start;
  font-size: 1.1rem;
}

input{
  margin: 20px 0px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
}

input:active{
  border: none;
}

form button{
  border-radius: 8px;
  width: 100px;
  height: 40px;
  margin: 10px 0;
  border: none;
  background-color: var(--body-color);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

form button:hover{
  opacity: 0.6;
}

.errormodal{
  position: absolute;
  top:20px;
  color: red;
}

.movie a,button{
  cursor: pointer;
}

.movies{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
.movie{
  /* font-family: cursive; */
  width: 250px;
  height: 300px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: var(--body-color);
  overflow: auto;
}
.movie::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #aaa;
}

.movie::-webkit-scrollbar-thumb {
    background: var(--movie-color);
}

p{
  line-height: 25px;
}

.bottom-btns{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.bottom-btns button{
  padding: 10px;
  width: 150px;
  margin: 40px;
  border: none;
  background-color: var(--body-color);
  color: #fff;
  font-size: 1.2rem;
  border-radius: 8px;
}
.bottom-btns button:hover{
  color: var(--hover-color);
}

@media(max-width:650px){
  .form {
    width: 80%;
  }

}
